<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue Demo</title>
</head>
<body>
    <div id="app">
        <div class="hi">
            {{message}} 
            {{score *0.8}}
        </div>
        
        <div v-if="loading">信息载入错误</div>
        <div v-show="loading">信息载入错误</div>

        <input type="text" v-model="message">

        <ul>
            <li v-for="color in colors">
                {{color}}
            </li>
            <li v-for="item in colors">
                {{item}}
            </li>
        </ul>

        <ul>
            <li v-for="item in home">
                {{item}}
            </li>
            <li v-for="item in home" v-on:click="myFa(item.father)">
                {{item.father}}
            </li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="VueDemo.js"></script>
</body>
</html>